* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none !important;
}

.letter2 {
  letter-spacing: 2px;
}

.colorli {
  color: rgb(255, 255, 255);
}

.vh {
  height: calc(100vh - 65px);
}

.container {
  width: 100%;
  padding: 96px 20px;
}

.row {
  margin-left: 0px !important;
}

p {
  width: 100%;
  margin: 0 auto;
  color: #4B5563;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.font24 {
  font-size: 24px;
}

.font30 {
  font-size: 30px;
}

.crp {
  cursor: pointer;
}
.crp:hover {
  color: rgb(185, 185, 185);
}

nav {
  z-index: 5;
}
nav .row {
  position: fixed;
  height: 100vh;
  margin-right: 0px;
  margin-left: 0px;
}
nav .row label {
  display: none;
}
nav .row .soshow {
  margin-bottom: 81px;
}
nav .row .soshow a {
  margin: 10px 0;
}
nav .row .soshow i {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
nav .row .soshow i:hover {
  color: rgb(185, 185, 185);
}
nav .row .soshow .mail {
  margin-bottom: 8px;
}

@-webkit-keyframes dio {
  0% {
    top: 115%;
  }
  90% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}

@keyframes dio {
  0% {
    top: 115%;
  }
  90% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}
main .pDisnone {
  display: none;
}
main .my {
  background-color: #3C564F;
}
main .my .container .picture1 {
  background-image: url(../picture/p1/3F71CAEB-3953-4FD2-9F47-DF0DF11C54B6.jpg);
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .my .container .picture1 .rounded-circle {
  background: rgb(182, 145, 109);
  color: #3C564F;
  width: 200px;
  height: 200px;
  transform: translate(-30%, -30%);
  transition: 0.8s;
}
main .my .container .picture1 .rounded-circle h1 {
  padding: 90px 10px 0 50px;
  font-size: 16px;
  transition: 0.5s;
}
main .my .container .picture1 .rounded-circle:hover {
  width: 300px;
  height: 300px;
  background-color: #BCB8AD;
}
main .my .container .picture1 .rounded-circle:hover h1 {
  padding: 130px 0 0 0px;
  font-size: 24px;
}
main .portfolios {
  background-color: rgb(222, 208, 199);
}
main .portfolios .container h1 {
  font-size: 28px;
  color: rgb(255, 255, 255);
}
main .portfolios .container h2 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
main .portfolios .container .po2 {
  transform: translateY(-50%);
}
main .portfolios .container .po4 {
  transform: translateY(50%);
}
main .portfolios .container .pos {
  overflow: hidden;
  height: 160px;
  transition: 0.5s;
}
main .portfolios .container .pos .img-container__1, main .portfolios .container .pos .img-container__1 .img {
  position: relative;
}
main .portfolios .container .pos .img-container__1:hover ~ a, main .portfolios .container .pos .img-container__1 .img:hover ~ a {
  -webkit-animation: dio 0.4s cubic-bezier(0.54, 0.35, 1, 1) 0s 1 alternate forwards;
          animation: dio 0.4s cubic-bezier(0.54, 0.35, 1, 1) 0s 1 alternate forwards;
}
main .portfolios .container .pos .img-container__1:before, main .portfolios .container .pos .img-container__1 .img:before {
  content: attr(data-title);
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: 0.5s;
  color: rgb(222, 208, 199);
}
main .portfolios .container .pos .img-container__1:after, main .portfolios .container .pos .img-container__1 .img:after {
  content: attr(data-des);
  text-shadow: 1px 1px 20px black;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  transform: translate(0, 40px);
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}
main .portfolios .container .pos .img-container__1 .img {
  width: 100%;
  transition: 0.3s;
  position: relative;
}
main .portfolios .container .pos .img-container__1 .img:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  text-shadow: 1px 1px 20px black;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.6;
}
main .portfolios .container .pos .img-container__1 .img img {
  width: 100%;
}
main .portfolios .container .pos .img-container__1:hover:before, main .portfolios .container .pos .img-container__1 .img:hover:before {
  color: rgb(255, 255, 255);
  bottom: 40px;
}
main .portfolios .container .pos .img-container__1:hover:after, main .portfolios .container .pos .img-container__1 .img:hover:after {
  color: rgb(255, 255, 255);
  transform: translate(0, -10px);
  opacity: 1;
}
main .portfolios .container .pos .img-container__1:hover .img, main .portfolios .container .pos .img-container__1 .img:hover .img {
  width: 100%;
  overflow: hidden;
  filter: blur(0);
}
main .portfolios .container .pos .img-container__1:hover .img img, main .portfolios .container .pos .img-container__1 .img:hover .img img {
  transform: translate(-2.5%, -2.5%);
  width: 105%;
}
main .portfolios .container .pos .img-container__1:hover .img:before, main .portfolios .container .pos .img-container__1 .img:hover .img:before {
  top: 0%;
}
main .portfolios .container .pos a {
  top: 135%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(255, 255, 255);
}
main .portfolios .container .pos a:hover {
  -webkit-animation: dio 0.3s cubic-bezier(0.54, 0.35, 1, 1) 0s 1 alternate forwards;
          animation: dio 0.3s cubic-bezier(0.54, 0.35, 1, 1) 0s 1 alternate forwards;
}
main .portfolios .container .pos a:active {
  padding: 10px 18px;
  background-color: rgba(255, 255, 255, 0.136);
}
main .llustrator {
  background-color: rgb(74, 74, 74);
}
main .llustrator .container .row .lluL .imgBg img {
  height: 258px;
}
main .llustrator .container .row .lluR .p3p {
  position: absolute;
  top: 5%;
  right: -25%;
  width: 200px;
}
main .llustrator .container .row .lluR h1 {
  color: rgb(255, 255, 255);
}
main .llustrator .container .row .lluR .imgBg img {
  height: 258px;
}
main .llustrator2 {
  background-color: rgb(198, 168, 178);
}
main .llustrator2 .container h1 {
  color: rgb(255, 255, 255);
}
main .llustrator2 .container .row .imgBg {
  flex-wrap: wrap;
}
main .llustrator2 .container .row .imgBg img {
  height: 258px;
}

footer .Copyright {
  color: #7B7673;
  letter-spacing: 5px;
  padding: 20px 10px 0px;
}

@media (max-width: 1200px) {
  main .portfolios .container .pos .img-container__1 .img img {
    transform: translate(-7.8%, 0%);
    width: 120%;
  }
  main .portfolios .container .pos .img-container__1:hover .img img, main .portfolios .container .pos .img-container__1 .img:hover .img img {
    transform: translate(-11.5%, -5%);
    width: 130%;
  }
}
@media (max-width: 992px) {
  main .portfolios .container .porow {
    margin-bottom: 8px !important;
  }
  main .portfolios .container .porow h1 {
    font-size: 24px;
    margin-bottom: 8px !important;
  }
  main .portfolios .container .porow h2 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  main .portfolios .container .po2 {
    transform: translate(0%);
    margin-bottom: 24px;
  }
  main .portfolios .container .po4 {
    transform: translate(0%);
    margin-top: 24px;
  }
  main .portfolios .container .pos {
    height: 100px;
  }
  main .portfolios .container .pos .img-container__1:before, main .portfolios .container .pos .img-container__1 .img:before {
    bottom: 290px;
  }
  main .portfolios .container .pos .img-container__1:hover:before, main .portfolios .container .pos .img-container__1 .img:hover:before {
    bottom: 350px;
    z-index: 2;
  }
  main .portfolios .container .pos .img-container__1:hover:after, main .portfolios .container .pos .img-container__1 .img:hover:after {
    transform: translate(0, -315px);
  }
}
@media (max-width: 768px) {
  main .portfolios .container .pos {
    height: 100px;
  }
  main .portfolios .container .pos .img-container__1:before, main .portfolios .container .pos .img-container__1 .img:before {
    bottom: 185px;
  }
  main .portfolios .container .pos .img-container__1:hover:before, main .portfolios .container .pos .img-container__1 .img:hover:before {
    bottom: 230px;
  }
  main .portfolios .container .pos .img-container__1:hover:after, main .portfolios .container .pos .img-container__1 .img:hover:after {
    transform: translate(0, -200px);
  }
  main .llustrator2 .container .row .imgBg img {
    width: 150px;
    height: 200px;
  }
}
@media (max-width: 580px) {
  nav .row {
    z-index: 5;
  }
  nav .row label {
    display: block;
  }
  nav .row .btnn {
    margin-top: -255px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgba(165, 161, 159, 0.9);
    border-radius: 15px;
    display: none;
  }
  nav .row .btnn .crp {
    border-bottom: 1px dashed #ffffff;
  }

  main .my .container .picture1 {
    background-position: center;
  }
  main .my .container .picture1 .rounded-circle {
    width: 150px;
    height: 150px;
  }
  main .my .container .picture1 .rounded-circle h1 {
    font-size: 13px;
    padding: 65px 10px 0 30px;
  }
  main .my .container .picture1 .rounded-circle:hover {
    width: 180px;
    height: 180px;
  }
  main .my .container .picture1 .rounded-circle:hover h1 {
    padding: 90px 0 0 0px;
    font-size: 16px;
  }
  main .portfolios .container .pos {
    height: 100px;
  }
  main .portfolios .container .pos .img-container__1:before, main .portfolios .container .pos .img-container__1 .img:before {
    opacity: 0;
  }
  main .portfolios .container .pos .img-container__1:after, main .portfolios .container .pos .img-container__1 .img:after {
    opacity: 0;
  }
  main .llustrator .container .row .lluL .imgBg img {
    width: 150px;
    height: 200px;
  }
  main .llustrator .container .row .lluR .p3p {
    width: 150px;
    top: 14%;
    right: -10%;
  }
  main .llustrator .container .row .lluR h1 {
    font-size: 24px;
  }
  main .llustrator .container .row .lluR .imgBg img {
    width: 150px;
    height: 200px;
  }
  main .llustrator2 .container h1 {
    font-size: 24px;
  }

  footer .Copyright {
    font-size: 12px;
    letter-spacing: 1px;
  }
}/*# sourceMappingURL=77.css.map */